@import '../_variables.sass'

header.main-header
  height: 80px
  background:
    color: $satori-pallete-light-green
  ul.signing-links
    padding: 0 20px
    li.signing-link
      padding: 10px
      a
        text-decoration: none