@import '../_variables.sass'

header.main-header
  height: $header-height
  z-index: 1
  background:
    color: $satori-pallete-light-green
  box-shadow: $standard-shadow
  div
    padding: 0 20px
    h1.logo
      @extend .text-white
      text-decoration: none      
    nav 
      ul.signing-links
        li.signing-link
          padding: 10px
          a
            text-decoration: none
            button
              width: 150px
            &.active
              button
                @extend .text-green
                background: 
                  color: $satori-pallete-light-white
      i.mobile-nav-toggle
        @extend .hide
        @include size(0px, 0px)
    div
      i.new-event
        cursor: pointer
        &::before          
          font-size: 2.5em

@media screen and (max-width: $mobile-breakpoint)
  header.main-header
    div
      nav ul.signing-links
        @include flex--pos(center)
        @include position(absolute)
        @include width-100
        @include transition(standard)
        left: 0
        top: 80px
        height: 0px
        background-color: $satori-pallete-light-green
        box-shadow: $lighter-shadow
        overflow: hidden
        &.active
          height: 60px
        li.signing-link
          padding: 5px
      i.mobile-nav-toggle
        @include display(flex)
        @include flex--pos(center)
        @include size(auto, auto)
        &:before
          cursor: pointer
          font-size: 3em
          color: $satori-pallete-light-white
          padding: 5px
          top: 50px