@import '_variables.sass'
// Flex //
.flex
  display: flex

.flexible
  flex: 1

// Flex - Size //
.flex-30
  flex-basis: 30%
.flex-50
  flex-basis: 50%
// Flex - Direction
.flex--column
  flex-direction: column

.flex--row
  flex-direction: row

// Flex - Content
.flex--center
  align-items: center
  justify-content: center

.flex--around
  justify-content: space-around

.flex--between
  justify-content: space-between

.flex--end
  justify-content: flex-end

// Flex - Self
.self--start
  align-self: flex-start
.self--center
  align-self: center
.self--end
  align-self: flex-end

// Display //
.inline
  display: inline-block
.block
  display: block
.hide
  display: none
// Position //
.fixed
  position: fixed
.relative
  position: relative
.absolute
  position: absolute

.center-block
  margin: 0 auto

.width-100
  width: 100%
.height-100
  height: 100%

// Typography
.center-text
  text-align: center
.text-right
  text-align: right
.text-left
  text-align: left
.text-justify
  text-align: justify

.lighten-font
  font-weight: lighter
.bold-font
  font-weight: bold
.text-white
  color: $satori-pallete-light-white
.text-green
  color: $satori-pallete-light-green

.uppercase
  text-transform: uppercase

.btn
  background: none
  font-size: .8em
  cursor: pointer
  border: 1px solid $satori-pallete-light-white
  color: $satori-pallete-light-white
  line-height: 1.2em
  padding: 5px
  border-radius: 15px
  &:focus
    outline: none
  &:hover
    background: 
      color: $satori-pallete-light-white
    color: $satori-pallete-light-green

.input
  background: none
  border: 1px solid white
  line-height: 1.1em
  padding: 5px
  border-radius: 15px
  &:focus
    outline: none
    box-shadow: $lighter-shadow 
  &::-webkit-input-placeholder
    color: $satori-pallete-light-white
  &:-moz-placeholder
    color: $satori-pallete-light-white
  &::-moz-placeholder
    color: $satori-pallete-light-white
  &:-ms-input-placeholder
    color: $satori-pallete-light-white  


.basic-modal
  @extend .width-100
  max-width: 800px
  margin: 20px
  padding: 50px 30px
  border-radius: 15px
  box-shadow: $bold-shadow
  background: 
    color: $satori-pallete-light-green
  aside.custom-auth
    flex-basis: 45%
    h1
      font-size: 2em
      margin: 10px
    input
      margin: 10px
      font-size: .9em
      line-height: 1.3em
      padding: 5px
    button
      margin: 10px
      width: 150px
  div.divider
    margin: 0 60px
    &:before, &:after
      content: ''
      @extend .block
      @extend .relative
      left: 10px
      width: 2px
      height: 18%
      background:
        color: $satori-pallete-light-white
    &:after
      top: 4px
    span
      font-size: 1.5em
      margin: 10px 0
  aside.social-auth
    flex-basis: 45%
    button
      @extend .relative
      @include nothing-around()
      font-size: .9em
      line-height: 1.4em
      padding: 5px
      padding-left: 20%
      margin: 10px 0
      box-shadow: $lighter-shadow
      &:hover
        box-shadow: $standard-shadow          
      &:before
        @extend .block
        @extend .absolute
        @include size(25px, 25px)
        left: 10px
        top: 5px 
        text-align: center
        font-size: 1.4em
      &.btn-fb
        background-color: $fb-blue
        &:before
          @include font-awesome('\f09a')
        &:hover
          background-color: darken($fb-blue, .2)
          color: $satori-pallete-light-white
      &.btn-gplus
        background-color: $gplus-red
        &:before
          @include font-awesome('\f0d5')
        &:hover
          background-color: darken($gplus-red, .2)
          color: $satori-pallete-light-white

aside.weekly-manager
  background-color: $satori-pallete-light-white
  box-shadow: $lighter-shadow-green
  flex-basis: 15%
  ul.task-priorities 
    @extend .relative
    padding: 30px
    h2
      @extend .text-green
      @extend .text-right
      @extend .uppercase
      font-size: 1.4em
      line-height: 1.6em
      padding: 5px
    li.task-priority
      span
        @extend .text-green
        @extend .uppercase
        @extend .bold-font
        font-size: 1em
        &:before
          content: ''
          @extend .block
          @extend .absolute
          @include size(8px, 8px)
          border-radius: 50%
          left: 20px
        &.priority-none
          &:before 
            background-color: $satori-pallete-light-green
        &.priority-high
          &:before 
            background-color: $satori-pallete-strong-red
        &.priority-medium
          &:before 
            background-color: $satori-pallete-strong-yellow
        &.priority-low
          &:before 
            background-color: $satori-pallete-strong-green

@media screen and (max-width: $mobile-breakpoint)
    div.basic-modal
      @include flex--dir(column)
      @include height-100()
      padding: 20px
      aside.custom-auth, aside.social-auth
        flex-basis: auto
      div.custom-auth
        flex: 3
      div.divider
        @include text-align(center)
        margin: 10px 0 !important
        &:before, &:after
          @include size(40% !important, 2px !important)
          left: 0px !important
          top: 14px !important
        &:before
          float: left
        &:after
          float: right