@import '_variables.sass'

*
  margin: 0
  padding: 0
  box-sizing: border-box

html, body
  width: 100%

body
  box-sizing: border-box
  font-size: 16px !important
  display: block
  position: relative
  color: $black
  font-family: 'Nunito'
  background:
    color: $satori-pallete-light-white

h1, h2, h3, h4, h5, h6, span, p, label
  margin: 0
  padding: 0

h1
  font-size: 2.5em
h2
  font-size: 2em
h3
  font-size: 1.3em
p
  font-size: 1.1em
label
  font-size: .8em

@media screen and (max-width: $mobile-breakpoint)
  h1
    font-size: 2.3em
  h2
    font-size: 1.8em
  h3
    font-size: 1.1em
  p
    font-size: .9em
  label
    font-size: .6em
form
  ul
    list-style-type: none
    padding: 0
    li
      padding: 10px 0px

.wrapper
  min-height: calc(100% - 80px)
.container
  max-width: $max-width
  margin: 0 auto
  height: 100%
.below-header
  padding-top: 80px !important

.basic-modal
  @extend .width-100
  max-width: 800px
  margin: 20px
  padding: 50px 30px
  border-radius: 15px
  box-shadow: $bold-shadow
  background: 
    color: $satori-pallete-light-green
  div.custom-auth
    flex-basis: 45%
    h1
      font-size: 2em
      margin: 10px
    input
      margin: 10px
      font-size: .9em
      line-height: 1.3em
      padding: 5px
    button
      margin: 10px
      width: 150px
  div.divider
    margin: 0 60px
    &:before, &:after
      content: ''
      @extend .block
      @extend .relative
      left: 10px
      width: 2px
      height: 15%
      background:
        color: $satori-pallete-light-white
    &:after
      top: 4px
    span
      font-size: 1.5em
      margin: 10px 0
  div.social-auth
    flex-basis: 45%
    button
      @extend .relative
      @include nothing-around()
      font-size: .9em
      line-height: 1.4em
      padding: 5px
      padding-left: 20%
      margin: 10px 0
      box-shadow: $lighter-shadow
      &:hover
        box-shadow: $standard-shadow          
      &:before
        @extend .block
        @extend .absolute
        @include size(25px, 25px)
        left: 10px
        top: 5px 
        text-align: center
        font-size: 1.4em
      &.btn-fb
        background-color: $fb-blue
        &:before
          @include font-awesome('\f09a')
        &:hover
          background-color: darken($fb-blue, .2)
          color: $satori-pallete-light-white
      &.btn-gplus
        background-color: $gplus-red
        &:before
          @include font-awesome('\f0d5')
        &:hover
          background-color: darken($gplus-red, .2)
          color: $satori-pallete-light-white

@media screen and (max-width: $mobile-breakpoint)
    div.basic-modal
      @include flex--dir(column)
      @include height-100()
      padding: 20px
      div.custom-auth, div.social-auth
        flex-basis: auto
      div.custom-auth
        flex: 3
      div.divider
        @include text-align(center)
        margin: 10px 0 !important
        &:before, &:after
          @include size(40% !important, 2px !important)
          left: 0px !important
          top: 14px !important
        &:before
          float: left
        &:after
          float: right