$header-height: 80px

$black: #22313F

$satori-pallete-light-white: #f1faf6
$satori-pallete-light-semi: #d7f9e9
$satori-pallete-light-green: #87d5b2

$satori-pallete-strong-red: #a92118
$satori-pallete-strong-yellow: #ffc55f
$satori-pallete-strong-green: #245c4d

$fb-blue: #3b5998
$gplus-red: #dd4f43

$max-width: 1140px

$animation-duration: 0.3s

$standard-shadow: 0 5px 15px transparentize($black, .6)
$lighter-shadow: 0 2px 12px transparentize($black, .8)
$bold-shadow: 10px 10px 25px 5px transparentize($black, .2);

$lighter-shadow-yellow: 0 2px 12px transparentize($satori-pallete-strong-yellow, .4)
$lighter-shadow-green: 0 2px 12px transparentize($satori-pallete-light-green, .4)

$bolder-shadow-green: 0px 1px 10px 1px $satori-pallete-light-green

$animation: $animation-duration * 1.5 ease-in-out
$tab-padding: 80px

$mobile-small-breakpoint: 450px
$mobile-breakpoint: 660px
$tablet-vertical-breakpoint: 768px
$tablet-horizontal-breakpoint: 1024px
$laptop-breakpoint: 1366px

$min-pix: 3px