$black: #22313F

$satori-pallete-light-white: #f0fcf6
$satori-pallete-light-semi: #d7f9e9
$satori-pallete-light-green: #8dd0af

$satori-pallete-strong-red: #9e0b0f
$satori-pallete-strong-yellow: #ffc658
$satori-pallete-strong-green: #245c4e


$Mont: Montserrat
$Lato: Source Sans Pro

$max-width: 1140px

$animation-duration: 0.3s

$standard-shadow: 0 5px 15px transparentize($black, .8)
$lighter-shadow: 0 2px 12px transparentize($black, .8)

$animation: $animation-duration * 1.5 ease-in-out
$tab-padding: 80px

$mobile-small-breakpoint: 450px
$mobile-breakpoint: 660px
$tablet-vertical-breakpoint: 768px
$tablet-horizontal-breakpoint: 1024px
$laptop-breakpoint: 1366px